<div class="container" id="main"> 


        <!-- Itinerary Intro -->
        <div class="row" id="itineraryIntro">

            <div class="col-sm-1">

                <div class="diamondSection">
                    <a href="#">
                        <h3>Diamond Picture</h3>
                        <h3 class="diamondScore">145</h3>
                    </a>
                </div>

            </div>

            <div class="col-sm-11">
                <h1><a href="#" class="mainHeading">Hipster's 2013 Travel Guide to Sao Paulo</a></h1>
                <div class="itineraryInfo">
                    <p>Submitted time_ago_in_words(xxxxxx.created_at) ago by Username </p>
                </div>
                <p class="lead">
                    Need to add new column for interary introduction
                </p>

                <%= link_to 'Add New Itinerary', new_itinerary_path %>
            </div>
        </div>
        <!-- end Itinerary Intro -->

        <!-- ####################### START OF BLOCK -->
        <% @itineraries.each do |itinerary| %>
        <!-- Itinerary List -->
        <div class="row" id="itineraryList">

            <div class="col-sm-1" id="indent"></div>

            <div class="col-sm-11 feature">
                <div class="panel clearfix">
                    <div class="panel-heading clearfix">
                        <div class="col-sm-1">
                            <div class="itineraryScore">
                                <h4><%= itinerary.event_votes.size %></h4>
                                <!-- ###################### vote for itinerary if statement #########################-->
                                        <% if itinerary.event_votes.find_by(user: current_user) %>
                                          <%= button_to "Downvote", itinerary_event_vote_path(itinerary.id, itinerary.event_votes.find_by!(user: current_user)), method: :delete %>
                                        <% else %>
                                          <%= button_to "Upvote", itinerary_event_votes_path(itinerary)  %>
                                        <% end %>
                                <!-- ###################### end of vote for itinerary if statement  #########################-->        
                            </div>
                        </div>
                        <div class="col-sm-10">

                            <div class="itineraryTitle">                               
                                <h4 class="panel-title"><%= link_to itinerary.title, itinerary %></h4>
                                <div class="itineraryAddress">
                                    <%= itinerary.address %>
                                </div>                               
                            </div>

                        </div>
                        <div class="col-sm-1">
                            <div class="itineraryDuration">
                                <h5>4 hours (take it off??)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="panelContent">
                            <p><%= itinerary.entry %></p>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="tipsHeader-container">
                            <p class="tipsHeader">Travel Tips <small>(<%= itinerary.hints.size %>)</small></p>
                            <%= button_to "Add your tip!", new_itinerary_hint_path(itinerary), method: :get, class: "btn btn-small pull-right addTip-button"  %>
                        </div>

                        <div class="container eachTip">
                            <div class="col-sm-12">

                                    <table>
                                        <tbody>
                                          <!-- ##################### ITINERARY HINT BLOCK START -->
                                          <% itinerary.hints.each do |hint| %>
                                            <tr>
                                                <td class="hintsTips hintsTips-first">
                                                    <h5 class="pull-left scoreTip"><%= hint.hint_votes.size %></h5>
                                                      <!-- ###################### vote for hint if statement #########################-->
                                                      <% if hint.hint_votes.find_by(user: current_user) %>
                                                        <%= button_to "DownVote", itinerary_hint_hint_vote_path(itinerary, hint, hint.hint_votes.find_by!(user: current_user)), method: :delete %>
                                                      <% else %>
                                                        <%= button_to "UpVote", itinerary_hint_hint_votes_path(itinerary, hint) %> 
                                                      <% end %>
                                                      <!-- ###################### end of vote for itinerary if statement #########################-->
                                                    <p class=""><%= hint.entry %></p>
                                                </td>
                                            </tr>
                                          <!-- ##################### ITINERARY HINT BLOCK END -->  
                                          <% end %>
                                          
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end Itinerary List --> 

        <!-- ####################### END OF BLOCK -->
              <% end %>
              
        </div><!-- end container main -->
               
        



 


<!-- 

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th>Author</th>
      <th>Image url</th>
      <th>Vote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %> 
      <tr>
        
        <td><h3><%= pluralize(itinerary.event_votes.size, "vote") %></h3></td>

        <% if itinerary.event_votes.find_by(user: current_user) %>
          <td><%= button_to "Downvote", itinerary_event_vote_path(itinerary.id, itinerary.event_votes.find_by!(user: current_user)), method: :delete %></td>
        <% else %>
          <td><%= button_to "Upvote", itinerary_event_votes_path(itinerary)  %></td>
        <% end %>

        <td><%= itinerary.address %></td>
        <td><%= itinerary.entry %></td>
        <td><%= itinerary.user.email %></td>
        <td><%= itinerary.image_url %></td>

        <td>
          <ul>
            <% itinerary.hints.each do |hint| %>
              <li><%= hint.entry %> | 
                <%= pluralize(hint.hint_votes.size, 'Hint Vote') %> | 

                <% if hint.hint_votes.find_by(user: current_user) %>
                  <%= button_to "DownVote", itinerary_hint_hint_vote_path(itinerary, hint, hint.hint_votes.find_by!(user: current_user)), method: :delete %>
                <% else %>
                  <%= button_to "UpVote", itinerary_hint_hint_votes_path(itinerary, hint) %> | 
                <% end %>
                
              </li>
            <% end %>
          </ul> 
        </td>   
        
        <td><%= link_to 'Show', itinerary %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>


-->